<h1><%= @score_type.display_name %></h1>

<h2>Assumptions</h2>
<p><%= @score_type.assumptions %></p>

<% if @score_type.scoring_descriptions.present?  %>
  <h2>Scoring explanation</h2>
  <pre><%= @score_type.scoring_descriptions %></pre>
<% end %>
