<ul class="marker-key">
  <li class="very-negative">Very negative</li>
  <li class="negative">Negative</li>
  <li class="neutral">Neutral</li>
  <li class="positive">Positive</li>
  <li class="very-positive">Very positive</li>
</ul>
