// Header/footer
$header-footer-background: black;
$header-footer-foreground: white;

// Scoring
$very-positive: #63BE7B;
$positive: #B1D580;
$neutral: #FFEB84;
$null:  silver;
$negative: #FBAA77;
$very-negative: #F8696B;
