.filter-type {
  margin-bottom: 0.2em;

  label {
    font-weight: bold;
  }
}

.filter-type-heading {
  padding-top: 0.3em;
  float: left;
  min-width: 10em;
  font-weight: normal;
}

.greenfield-status .filter-text {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}
