@import "colours";

$lr-margin: 10%;
header {
  background-color: $header-footer-background;
  color: $header-footer-foreground;
  padding: 1em $lr-margin 2em $lr-margin;
}

article {
  margin: 1em $lr-margin;
  font-family: "Noto Sans", sans-serif;
}

footer {
  background-color: $header-footer-background;
  color: $header-footer-foreground;
  padding: 1em $lr-margin 2em $lr-margin;
}
