@import "colours";

$lr-margin: 10%;
header {
  background-color: $header-footer-background;
  color: $header-footer-foreground;
  padding: 1em $lr-margin 2em $lr-margin;

  a, a:hover, a:visited {
    color: $header-footer-foreground;
  }
}

article {
  margin: 1em $lr-margin;
}

footer {
  background-color: $header-footer-background;
  color: $header-footer-foreground;
  padding: 1em $lr-margin 1em $lr-margin;
}
