dl.col {
  width: 45%;
}

dt {
  line-height: 1.5em;
  font-weight: bold;
  display: inline-block;
  clear: both;
  float: left;
}

dd {
  -webkit-margin-start: 0;
  margin-start: 0;
  float: right;
}

dl.left {
  float: left;
}

dl.right {
  float: right;
}

.reason {
  label { font-weight: bold; }
  clear: both;
}
