.glyphicon-tree-deciduous { color: darkgreen; }
.glyphicon-oil            { color: saddlebrown; }

$padding-dl-and-reason: 1%;

.sites {
  @media (max-width: $screen-xs-max) {
    width: 100%;
    max-width: 100%;
  }

  .shlaa-ref {
    position: relative;
    white-space: nowrap;

    .shlaa-ref-content{
      position: absolute;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .site.map-available:hover {
    cursor: zoom-in;
  }

  .site.not-on-map {
    background-color: $not-on-map;
  }
}

.site {
  dl {
    padding: $padding-dl-and-reason;

    dt {
      line-height: 1.5em;
      font-weight: bold;
      display: inline-block;
      clear: left;
      float: left;
    }

    dd {
      float: right;
    }
  }
  &.highlighted {
    background-color: $row-site-highlight !important;
  }
}

.reason {
  clear: both;
  padding: $padding-dl-and-reason;
}

ul.marker-key {
  padding: 0;
  font-size: 0.85em;
  float: right;
  text-align: center;
  line-height: 25px;

  li {
    background-size: 17px 27px;
    display: inline;
    padding: 4px 0 10px 23px;
    background-repeat: no-repeat;
  }

  .very-negative { background-image: url(asset-path('very-negative.png')) ; }
  .negative      { background-image: url(asset-path('negative.png')) ; }
  .neutral       { background-image: url(asset-path('neutral.png')) ; }
  .positive      { background-image: url(asset-path('positive.png')) ; }
  .very-positive { background-image: url(asset-path('very-positive.png')) ; }
}
