.glyphicon-tree-deciduous { color: darkgreen; }
.glyphicon-oil            { color: saddlebrown; }

$padding-dl-and-reason: 1%;

.sites {
  @media (max-width: $screen-sm-max) {
    margin-left: -$lr-margin;
    width: 100%;
    max-width: 100%;
  }

  .shlaa-ref {
    position: relative;
    white-space: nowrap;

    .shlaa-ref-content{
      position: absolute;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.site {
  dl { margin: 0; padding: $padding-dl-and-reason; }
}

dt {
  line-height: 1.5em;
  font-weight: bold;
  display: inline-block;
  clear: left;
  float: left;
}

dd {
  float: right;
}

.reason {
  clear: both;
  padding: $padding-dl-and-reason;
}
