$chart-canvas-max-width: 800px;
$small-stats-font-size: 100%;
$normal-stats-font-size: 125%;

.canvas-container {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 1em;
  position: relative;
  canvas {
    width: 100% !important;
    height: auto !important;
  }
  &.summary {
    // Constrain the summary chart container's width
    // such that it centres correctly
    max-width: $chart-canvas-max-width;
  }
}

#summary-chart {
  max-width: $chart-canvas-max-width;
}

.badge {
  &.brown { background-color: $brownfield; }
  &.mix   { background-color: $mixed;      }
  &.green { background-color: $greenfield; }
}

.legend {
  position: absolute;
  opacity: 0.9;
  left: 0;
  font-size: $normal-stats-font-size;
  background-color: white;
  padding-right: 1em;
  ul {
    list-style: none;
    padding-left: 0;
    margin-left: 1em;
  }

  @media (max-width: $screen-xs-max) {
    font-size: $small-stats-font-size;
  }

  .badge {
    width: 4em;
    font-size: $normal-stats-font-size;
    @media (max-width: $screen-xs-max) {
      font-size: $small-stats-font-size;
    }
  }

  label {
    font-weight: normal;
  }
}
