<% scores = @site.scores %>

<table class="scores">
  <thead>
    <tr>
      <th>SA code</th>
      <th>Description</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% scores.each do |score| %>
      <tr>
        <td><%= score.score_type.sa_objective_code %></td>
        <td><%= link_to score.score_type.description, score.score_type %></td>
        <td class="<%= "score v#{score.score}" %>">
          <%= score.score %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
